<h1>To Do List</h1>
<h2>Add new category</h2>
<hr />

<form action="/categories" method="post">
  <label for="categoryName">Category name:</label>
  <input id="categoryName" name="categoryName" type="text">
  <button type="submit">Add</button>
</form>

<h4><a href="/">Return home</a></h4>